@import "zen/dialog.css";
@import "demo.css";
.demo-pic-slot { float:left;
		 background-color:lightgray;
		 width:400px;
		 height:300px;
		 margin:4px; }
.demo-pic-img { max-width:100%; height:auto;" }
